{% extends 'layout/base.html.twig' %}

{% block title %}Chick Chick Shop - Order Sent{% endblock %}

{% block content %}    
    <div class="thank-you-message" style="text-align:center;">
        <h1>Thank You for Your Order!</h1>
        <p>Dear valued customer,</p>
        <p>We wanted to take a moment to express our sincere gratitude for choosing Chick Chick Shop. Your order has been successfully placed and is now being processed.</p>
        <p>If you have any questions or concerns about your order, please feel free to contact our customer support team at support@chickchickshop.com. We're here to assist you!</p>
        <p>Thank you again for choosing Chick Chick Shop. We appreciate your business and look forward to serving you again in the future.</p>
        <p>Best regards,<br> The Chick Chick Shop Team</p>
    </div>
{% endblock %}