{% set filterMinPrice = app.request.cookies.get('filterMinPrice') %}
{% set filterMaxPrice = app.request.cookies.get('filterMaxPrice') %}
<div class="col-6">
    <div class='col-3 d-flex align-items-start gap-1 mb-2 flex-column'>
        <b>Cena</b>
        <div class = 'd-flex gap-2 col-6'>
            <input type="number" id="filterMinPrice" name="filterMinPrice" value ="{{filterMinPrice}}" class="form-control form-control-sm" min="0" oninput="this.value = Math.abs(this.value)"> - 
            <input type="number" id="filterMaxPrice" name="filterMaxPrice" value ="{{filterMaxPrice}}" class="form-control form-control-sm" min="0" oninput="this.value = Math.abs(this.value)">
        </div>
    </div>
    <div class="d-flex flex-column gap-2 col-6">
        <div class="d-flex align-items-start mt-1 flex-column">
            {% set filterBestseller = app.request.cookies.get('filterBestseller') %}
            <div class="form-check">
                <label class="form-check-label" for="filterBestseller"> Bestsellers</label>
                <input class="form-check-input" type="checkbox" id="filterBestseller" name="filterBestseller" value="1" {% if filterBestseller == '1' %} checked {% endif %}>
            </div>
        </div>

        <div class="d-flex align-items-start mt-1 flex-column col-6">
            {% set filterLatest = app.request.cookies.get('filterLatest') %}
            <div class="form-check">
                <label class="form-check-label" for="filterLatest"> Latest</label>
                <input class="form-check-input" type="checkbox" id="filterLatest" name="latest" value="1" {% if filterLatest == '1' %} checked {% endif %}>
            </div>
        </div>
    </div>
</div>