{% extends 'layout/index.html.twig' %}
{% block content %}
    <h1 class='d-flex justify-content-center'> Products </h1>

    {% if items is empty %}
    <h2 class='d-flex justify-content-center'>Brak dostępnych przedmiotów</h2>
    {% else %}
        <div class="row">
            {% for product in items %}
                <div class="col-md-4">
                    <a style="text-decoration: none;" href = '{{ path('app_products_display', {'productId': product.id}) }}'>
                        {% include 'products/_parts/_product.html.twig' %}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% include 'products/_parts/_pagination.html.twig' %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var images = document.getElementsByTagName('img');
            for (var i = 0; i < images.length; i++) {
                images[i].onerror = function() {
                    this.onerror = null; // Zapobiegamy pętli, jeśli obraz "No-Image.jpg" również nie istnieje
                    this.src = 'images/products/No-Image.jpg'; // Podmiana na alternatywny obraz w przypadku błędu
                };
            }
        });

    </script>
{% endblock %}




