{% extends 'layout/index.html.twig' %}
{% block title %}Chick Chick Shop - Products{% endblock %}
{% block content %}
    <h1 class='d-flex justify-content-center'></h1>

    {% if items is empty %}
    <h2 class='d-flex justify-content-center'>Brak dostępnych przedmiotów</h2>
    {% else %}
       <div class="row align-items-center mb-2">
            <label for="sort" class="col-auto me-2">Sort by:</label>
            <div class="col-auto">
                {% set selectedSort = app.request.cookies.get('selectedSort') %}
                <select class="form-select" name="sort" id="sort">
                    <option value="price_asc" {% if selectedSort == 'price_asc' %} selected {% endif %}>Price: Low to High</option>
                    <option value="price_desc" {% if selectedSort == 'price_desc' %} selected {% endif %}>Price: High to Low</option>
                    <option value="name_asc" {% if selectedSort == 'name_asc' %} selected {% endif %}>Product Names: A to Z</option>
                    <option value="name_desc" {% if selectedSort == 'name_desc' %} selected {% endif %}>Product Names: Z to A</option>
                </select>
            </div>
            <div class='d-flex align-items-center mt-1'>
                {% set filterBestseller = app.request.cookies.get('filterBestseller') %}
                <input type="checkbox" id="bestsellers" name="bestsellers" value="1" style="margin-right: 8px;" {% if filterBestseller == '1' %} checked {% endif %}>
                <label for="bestsellers" style="margin-bottom: 0;"> Bestsellers</label>
            </div>
        </div>
        <div class="row">
       
            {% for product in items %}
                <div class="col-md-4">
                    {% include 'products/_parts/_product.html.twig' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% include 'products/_parts/_pagination.html.twig' %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const images = document.getElementsByTagName('img');
            for (let i = 0; i < images.length; i++) {
                images[i].onerror = function() {
                    this.onerror = null;
                    this.src = 'images/products/No-Image.jpg'; 
                };
            }

            const selectElement = document.getElementById("sort");

            selectElement.addEventListener("change", () => {
                const selectedValue = selectElement.options[selectElement.selectedIndex].value;
                const date = new Date();

                date.setTime(date.getTime() + 1 * 24 * 60 * 60 * 1000); 
                const expires = `expires=${date.toUTCString()}`;
                
                document.cookie = `selectedSort=${selectedValue}; ${expires}; path=/`;
                location.reload();
            });

            const checkbox = document.getElementById('bestsellers');

            checkbox.addEventListener('click', function(event) {
                if (checkbox.checked) {
                    const date = new Date();

                    date.setTime(date.getTime() + 1 * 24 * 60 * 60 * 1000); 
                    const expires = `expires=${date.toUTCString()}`;

                    document.cookie = `filterBestseller=1; ${expires}; path=/`;
                    location.reload();
                } else {
                    document.cookie = 'filterBestseller=0; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                    location.reload();
                }
            });


        });

    </script>
{% endblock %}




