{% extends 'layout/base.html.twig' %}
{% block title %}Chick Chick Shop - Products{% endblock %}
{% block content %}
    <h1 class='d-flex justify-content-center'></h1>

    {% if items is empty %}
        <div class="row align-items-center">
            {% include 'products/_parts/_filter.html.twig' %}
        </div>
        <h2 class='d-flex justify-content-center'>Brak dostępnych przedmiotów</h2>
    {% else %}
       <div class="row align-items-center mb-2">
        {% include 'products/_parts/_filter.html.twig' %}


            <div class="row">
        
                {% for product in items %}
                    <div class="col-md-4">
                        {% include 'products/_parts/_product.html.twig' %}
                    </div>
                {% endfor %}
        </div>
    {% endif %}

    {% include 'products/_parts/_pagination.html.twig' %}

{% endblock %}




