{% extends 'layout/index.html.twig' %}
{% block content %}
    <h1 class='d-flex justify-content-center'> Produkty </h1>

    <div class="container">
        <div class="row">
            {% for product in items %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h3>{{ product.name }}</h3>
                            <p>Cena: {{ product.price }}</p>
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
