{% extends 'layout/base.html.twig' %}

{% block title %}Chick Chick Shop{% endblock %}



{% block content %}
    {% include 'index/_parts/_banner.html.twig' %}
  
    <h2 class='d-flex justify-content-start headers mt-5'> Latest products </h2>
    <div id="productSlider" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
       {% for key, product in latestProducts|batch(3) %}
            <div class="carousel-item {% if key == 0 %}active{% endif %}">
                <div class="row">
                    {% for item in product %}
                        <div class="col-md-4">
                            {% include 'products/_parts/_product.html.twig' with {'product': item} %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productSlider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productSlider" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h2 class='d-flex justify-content-start headers mt-5'> Bestsellers products </h2>
    <div id="productSlider2" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
       {% for key, product in bestsellerProducts|batch(3) %}
            <div class="carousel-item {% if key == 0 %}active{% endif %}">
                <div class="row">
                    {% for item in product %}
                        <div class="col-md-4">
                            {% include 'products/_parts/_product.html.twig' with {'product': item} %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productSlider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productSlider" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row google-opinion-container position-relative mt-3">
        {% for opinion in googleOpinions %}
            {% include 'index/_parts/_google_opinion.html.twig' %}
        {% endfor %}
    </div>

   
      

  
{% endblock %}