.order-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .order-info {
    display: flex;
    gap: 20px;
  }
  
  .order-summary,
  .customer-info {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .order-summary {
    h1 {
      margin-top: 0;
    }
  }
  
  .customer-info {
 
    h2 {
      margin-top: 0;
    }
  
    p {
      margin-bottom: 8px;
    }
  }
  
  .order-entries {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
  
      th {
        background-color: #f2f2f2;
      }
  
      tr:hover {
        background-color: #f5f5f5;
      }
      img {
        max-width: 75px;
        max-height: 75px;
        width: auto;
        height: auto;
      }
    }
  }
  
  .icon {
    font-size: 24px;
    margin-right: 8px;
    color: #333; 
  }