{% set current_path = app.request.get('_route') %}
<div>
        {% set categoryMenu = knp_menu_get('MenuTree',['index']) %} 
        {% set menu = knp_menu_get('MenuTree') %} 

        {% if current_path != 'app_index' %}
            <div class="container breadcrumbs">
                {{ knp_menu_render(categoryMenu, {
                    'currentClass': 'active',
                    'class':'breadcrumbs',
                    'template': 'layout/knp_breadcrumbs.html.twig',
                    'includeRoot': true  
                }) }}
            </div>
        {% endif %}
</div>
    

