{% block _breadcrumbs %}
    {% for item in breadcrumbs.items %}
        {% if not loop.first %}
            <span>&rarr;</span>
        {% endif %}
        
        {% if item.uri %}
            <a href="{{ item.uri }}">{{ item.label }}</a>
        {% else %}
            {{ item.label }}
        {% endif %}
    {% endfor %}
{% endblock %}