<footer class="bg-dark text-light py-1 fixed-bottom">
    <div class="text-center">
        <p>© 2023 Damian Wasiak. All rights reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy policy</a></li>
            <li class="list-inline-item"><a href="#">Terms of use</a></li>
        </ul>
    </div>
</footer>