.js-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
}

.topbar__section {
    padding: 5px; 
}

.topbar__section a {
    text-decoration: none;
    color: #ffffff;
}

.topbar__section--special strong {
    font-weight: bold;
    color: #ffcc00; 
}


.js-topbar-close {
    cursor: pointer;
}


.icon-delete {
    font-size: 20px; 
}



.breadcrumb-dropdown {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.breadcrumb-dropdown a {
    color: #495057;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.breadcrumb-dropdown a:hover {
    background-color: #e9ecef;
}

.breadcrumb-dropdown li {
    list-style-type: none;
    padding-left: 0;
}

.breadcrumb-dropdown ul {
    padding-left: 0; 
}



