.scrollButton {
    position: fixed;
    bottom: 12%;
    right: 4%;
    border: 0;
    border: 1px solid #F3BE65;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #F3BE65;
    z-index: 1000;
    & > svg {
        transition: transform 0.3s ease;
    }    
    // only non-touch devices
    @media (hover: hover) {
        &:hover > svg{
            transform: translateY(-6px);
        }
    }
}