.card-body {
    font-family: 'Arial', sans-serif;

    .lead {
        font-size: 16px;
        line-height: 1.5;
        &.fw-normal {
            font-weight: normal;
        }
        &.mb-2 {
            margin-bottom: 16px;
        }
    }

    .company {
        color: #3366cc; 
    }

    .person {
        color: #33cc33; 
    }

    .address {
        color: #cc3333; 
    }

    .phone {
        color: #9933cc;
    }
}